/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
body {
	font-family: "Lato", sans-serif;
}
.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	background-color: #f6f9f9;
}
.center {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

/*HEADER*/

header {
	height: 100px;
}
header .header__text {
	color: #2d3950;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	position: relative;
	top: 34px;
}
header .logo {
	margin: 30px 17px 30px 17px;
}

/*SECTION 1*/

#section1 {
	background: url("../img/top_background.png") 0 0 / cover no-repeat;
	height: calc(100vh - 100px);
	max-height: 800px;
	text-align: center;
}
#section1 h1 {
	color: #ffffff;
	font-size: 120px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 14vh 0px 0px 0px;
}
#section1 h1:after {
	content: "";
	width: 600px;
	height: 2px;
	background-color: #15a4fa;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 2vh;
}
#section1 .desc {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding: 6vh;
	margin-bottom: 2.8vh;
}
#section1 .btn .call {
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0.45px;
	border: 1px solid #15a4fa;
	padding: 20px 35px;
	border-radius: 3px;
	margin-bottom: 130px;
}
#section1 .btn .call:hover {
	background: #15a4fa;
	font-size: 20px;
	border-radius: 5px;
}

/*ARROW*/

#section1 .btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#section1 .btn .arrow {
	color: #ffffff;
	font-family: "Font Awesome";
	font-size: 30px;
	border: none;
}
#section1 .arrow svg {
	animation: animate 2s linear infinite;
}
@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-5px);
	}
	20% {
		transform: translateY(5px);
	}
	30% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
	}
	70% {
		transform: translateY(7px);
	}
	80% {
		transform: translateY(35px);
	}
	90% {
		transform: translateY(18px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* SECTION 2*/

#section2 {
	text-align: center;
	padding: 80px 0 110px 0;
}
#section2 h2 {
	color: #2d3950;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 1px;
}
#section2 .section2__text {
	color: #999999;
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin-top: 31px;
}

/*SECTION 3*/

#section3 {
	background-color: #ffffff;
	padding: 65px 0 64px 0;
}
#section3 .container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
#section3 .content {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	padding: 0 20px 0 22px;
}
#section3 .container .icon {
	display: flex;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	background-color: #5fc3ff;
	margin: 0 auto;
}
#section3 .container .icon:hover {
	background-color: #48baff;
}
#section3 .article h3 {
	color: #2d3950;
	font-size: 22px;
	padding: 32px 0 22px 0;
}
#section3 .article p {
	color: #999999;
	font-size: 15px;
	line-height: 22px;
}
#section3 svg {
	font-family: "Font Awesome";
	text-align: center;
	color: #ffffff;
	font-size: 40px;
}

/*SECTION 4*/

#section4 {
	text-align: center;
}
#section4 .content {
	padding: 80px 0 116px 0;
}
#section4 .section4__head h3 {
	color: #2d3950;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 1.02px;
}
#section4 .section4__head p {
	margin: 22px 0 70px 0;
}
#section4 .section4__head .contact {
	color: #909090;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.38px;
}
#section4 .block__row {
	display: flex;
	flex-wrap: wrap;
}
#section4 .block__content {
	padding: 10px;
	position: relative;
	display: flex;
}

/*Hover effect*/

#section4 .block__img a:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #15a4fa;
	opacity: 0;
	transition: all 0.5s ease;
	content: "";
}
#section4 .block__img a:hover:before {
	opacity: 0.9;
}
#section4 .block__img {
	position: relative;
	flex: 0 0 auto;
}
#section4 .block__img .image {
	max-width: 100%;
	object-fit: cover;
}
#section4 .block__icon {
	display: flex;
	width: 90px;
	position: absolute;
	left: 38%;
	top: 42%;
	justify-content: space-between;
	align-items: center;
}

/* LINK and ZOOM */

#section4 .zoom,
#section4 .link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid #ffffff;
	border-radius: 2px;
}
#section4 svg {
	font-family: "Font Awesome";
	font-size: 15px;
	color: #ffffff;
}
/*SECTION 5*/

#section5 {
	background: url("../img/dark_blue.png") 0 0 / cover no-repeat, url("../img/form_road.png") 0 0 / cover no-repeat;
	width: 100%;
	height: 100%;
	object-position: center;
	text-align: center;
	padding: 74px 0 110px 0;
}
#section5 .section5__head h3 {
	color: #ffffff;
	font-size: 41px;
	letter-spacing: 1.02px;
	margin-bottom: 20px;
}
#section5 .section5__head p {
	color: #999999;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 0.38px;
	margin-bottom: 52px;
}
#section5 .section__input {
	display: block;
	width: 553px;
}
input[type="text"],
input[type="password"] {
	height: 60px;
}
textarea {
	height: 160px;
}
input[type="text"],
input[type="password"],
textarea,
.form__send {
	width: 553px;
	border: 1px solid #999999;
	border-radius: 5px;
	background-color: inherit;
	padding: 25px;
	margin: 0px 0px 25px 0px;
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.38px;
}
#section5 .form__send .input-btn {
	float: right;
}
#section5 input:hover,
textarea:hover {
	box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}
#section5 .form__send {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	border: none;
	padding: 0;
}

input[type="checkbox"] {
	margin: 20px 10px 0 0;
}
.button {
	display: inline-block;
	border: 1px solid #15a4fa;
	border-radius: 5px;
	padding: 15px 50px;
	color: #ffffff;
	background-color: inherit;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.45px;
}
.button:hover {
	background-color: #15a4fa;
	transition: all 0.5s ease;
}
/*FOOTER*/

footer {
	padding: 25px;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__content .list-social {
	display: flex;
	flex-direction: row;
}
.media svg {
	font-family: "Font Awesome";
	color: #15a4fa;
	font-size: 2em;
	margin-left: 5px;
}
.footer__text span {
	color: #999999;
	font-size: 15px;
	letter-spacing: 0.38px;
}

/*ADAPTIVE*/

@media (max-width: 1300px) {
	.center {
		width: 90%;
	}
}
@media (max-width: 1267px) {
	.center {
		width: 90%;
	}
	#section1 .btn .call {
		margin-bottom: 100px;
	}
	#section4 .block__row {
		display: flex;
		flex-basis: 400px;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 845px), (max-width: 700px) {
	#section1 h1 {
		font-size: 100px;
	}
	#section2 {
		padding: 40px 0 40px 0;
	}
	#section2 h2 {
		font-size: 30px;
	}
	#section2 .section2__text {
		font-size: 16px;
		line-height: 30px;
	}
	#section3 .content {
		margin-bottom: 20px;
	}
}
@media (max-width: 700px) {
	#section1 h1:after {
		width: 80%;
	}
	#section1 .desc {
		width: 75%;
		margin: 3vh auto 0 auto;
	}
	#section1 h1 {
		font-size: 100px;
	}
}
@media (max-width: 608px) {
	#section5 input,
	#section5 textarea,
	#section5 .form__send {
		width: 85%;
	}
	#section5 .button {
		font-size: none;
	}
}
@media (max-width: 500px) {
	#section1 h1 {
		font-size: 80px;
	}
}
@media (max-width: 425px) {
	#section1 h1 {
		font-size: 65px;
	}
	#section3 .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#section4 a,
	#section a:before {
		max-width: 85%;
		width: 100%;
	}
	#section4 .content {
		padding: 5px;
	}
}
@media (max-width: 320px) {
	#section1 .btn .call {
		margin-bottom: 30px;
	}
	#section1 .arrow {
		animation-play-state: paused;
	}
	#section3 .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#section4 .section4__head h3 {
		font-size: 25px;
	}
	#section4 .content {
		padding: 5px;
	}
	#section4 .block__img {
		max-width: 100%;
	}
	#section5 .button {
		font-size: none;
	}
}
